body {
    border-color: orange;
    border-style: solid;
    border-width: 5px;
  }
  
  .header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    border-color: purple;
    border-style: solid;
    border-width: 5px;
  }
  
  .logo {
    font-size: 24px;
    color: #F9FAF8
  }
  
  .links {
    gap: 25px;
    font-size: 18px;
    align-items: flex-end;
    display: flex;
    color: #E5E7Eb
  }
  
  a {
    text-decoration: none;
    color: #E5E7Eb
  }
  
  p {
    font-size: 18px;
    font-weight: normal;
    color: #E5E7Eb
  }
  
  .hero {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 80px 80px;
    background-color: #1F2937;
    
    
  }
  
  .hero-left {
    width: 30%;
    color: #E5E7Eb;
    font-size: 18px;
   
  }
  
  .hero-right {
    width: 30%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #E5E7Eb;
  }
  
  .random {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }
  .subtext-images {
    display: flex;
    justify-content: center;
    
    
  }
  
  .image {
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }
  
  .random-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
  }
  
  button {
    background-color: #3882f6;
    border-radius: 5px;
    color: #F9FAF8;
    border: 0;
    padding: 5px 15px;
  }
  
  .main-left {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
  }
  
  .ill {
    border-color: #3882f6;
    border-style: solid;
    border-width: 5px;
    width: max-content;
    border-radius: 5px;
    padding: 50px 60px;
  }
  
  .qoute {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 50px;
    background-color: #E5e7eb;
  }
  
  .qoute-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    padding: 40px 60px;
  }
  
  .qoute-author {
      margin-left: 300px;
      font-weight: 800;
    font-size: 26px;
  }
  
  .cta-all {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cta-blue {
    background-color: #3882f6;
    width: 60%;
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin: 75px 75px;
    padding: 50px;
  }
  
  cta-button {
      background-color: #3882f6;
      border-radius: 5px;
      color: #F9FAF8;
      border-style: solid; 
      border-color: #F9FAF8; 
      border: 2px;
      padding: 5px 15px;
      
  }
  
  .button-2 {
    background-color: #3882f6;
      border-radius: 5px;
      color: #F9FAF8;
      border-style: solid; 
      border-color: #F9FAF8; 
      border: 2px;
      padding: 5px 25px;
  }
  
  .cta-text {
    font-weight: 800;
    color: #F9FAF8;
  }
  
  .cta-subtext {
    color: #E5E7Eb;
    font-size: ;
    font-weight: 300;
  }